@model gLibrary.ViewModels.DishViewModel

<div class="w3-row">
    <div class="w3-container w3-twothird">@Html.DisplayFor(m => m.Dish.Name)</div>
    <div class="w3-container w3-half">@Html.DisplayFor(m => m.Dish.Price)</div>
</div>
