@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <h3>Phone</h3>

    <p>
        <span class="label">Main:</span>
        <span>(09) 940-8061</span>
    </p>
    <p>
        <span class="label">Mobile:</span>
        <span>(021) 0700662</span>
    </p>
</section>

<section class="contact">
    <h3>Email</h3>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@gmenu.co.nz">Support@gmenu.co.nz</a></span>
    </p>
    <p>
        <span class="label">Sales:</span>
        <span><a href="mailto:Sales@example.com">Sales@gmenu.co.nz</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@gmenu.co.nz">General@gmenu.co.nz</a></span>
    </p>
</section>

<section class="contact">
    <h3>Address</h3>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
    </section>